[Desktop Entry]
Name=@@NAME_LONG@@ - URL Handler
Comment=HIM Code AI IDE - URL Handler
GenericName=AI Code Editor
Exec=@@EXEC@@ --open-url %U
Icon=@@ICON@@
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/@@URLPROTOCOL@@;
Keywords=him-code;himcode;vscode;
